<!DOCTYPE html>
<html>
  <head>
    {{ template "head.html" }}
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@ancient_citadel">
    <meta name="twitter:creator" content="@ancient_citadel">
    <meta name="twitter:title" content="{{.URL.Title}}">
    <meta name="twitter:description" content=" Source">
    <meta name="twitter:image" content="{{.URL.URL}}">
  </head>
  <body>
    {{ template "google-analytics.html" }}
    {{ template "navigation.html" . }}
    <div class="container">
      {{ if .RequiresAgeVerification }}
        {{ template "age-verification.html" }}
      {{ else }}
        <script>
          $(function() {
            $(".item .gif")[0].play();
          });
        </script>
        <div class="items">
          {{ template "gif-item.html" .URL }}
        </div>
      {{ end }}
    </div>
  </body>
</html>
