<!DOCTYPE html>
<html>
  <head>
    {{ template "head.html" }}
    <script src="/assets/scripts/pack.js"></script>
    <script src="/assets/scripts/gifs.js"></script>
  </head>
  <body>
    {{ template "google-analytics.html" }}
    <div class="container-fluid">
      {{ template "navigation.html" . }}

      {{ if .RequiresAgeVerification }}
        {{ template "age-verification.html" }}
      {{ else }}
        <script>
          $(function() {
            $(".item .gif")[0].play();
          });
        </script>
        <div class="items">
          {{ template "gif-item.html" .URL }}
        </div>
      {{ end }}
    </div>
  </body>
</html>
