<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Ancient Citadel - billions of free animated gifs</title>
    {{ template "head.html" }}
  </head>
  <body>
    {{ template "google-analytics.html" }}
    {{ template "navigation.html" . }}
    <div class="container">
      {{ if .RequiresAgeVerification }}
        {{ template "age-verification.html" }}
      {{ else }}
        {{ if .URLs }}
          <div class="items">
            {{range .URLs}}
              {{ template "gif-item.html" . }}
            {{end}}
          </div>
          <div class="next-page">
            <a href="{{.NextPage}}">BRING FORTH MORE GIFS</a>
          </div>
        {{ else }}
          <p>
            Looks like you've reached the end of the line! Well done! Maybe it's time to get out
            there and live your life?
          </p>
        {{ end }}
      {{ end }}
    </div>
  </body>
</html>
