<nav class="navbar">
  <ul>
    <li class="navbar-brand">
      <a href="/">ANCIENT CITADEL</a>
      <a class="navbar-show-menu" href="#">menu</a>
    </li>
    <li class="navbar-menu-item {{if .New}}active{{end}}">
      <a href="{{if .NSFW}}/nsfw{{else}}/{{end}}">new {{if .New}}&#10004;{{end}}</a>
    </li>
    <li class="navbar-menu-item {{if .Top}}active{{end}}">
      <a href="{{if .NSFW}}/nsfw/top{{else}}/top{{end}}">top {{if .Top}}&#10004;{{end}}</a>
    </li>
    <li class="navbar-menu-item {{if .Shuffle}}active{{end}}">
      <a href="{{if .NSFW}}/nsfw/shuffle{{else}}/shuffle{{end}}">shuffle {{if .Shuffle}}&#10004;{{end}}</a>
    </li>
    <li class="navbar-menu-item {{if .NSFW}}active{{end}}">
      <a href="{{if .NSFW}}/{{else}}/nsfw{{end}}">adult mode {{if .NSFW}}&#10004;{{end}}</a>
    </li>
    <li class="navbar-menu-item navbar-form">
      <form role="search" action="/{{if .NSFW}}nsfw{{end}}">
        <input type="hidden" name="page" value="1"></input>
        <input type="text" class="form-control" name="q" value="{{.Query}}" placeholder="wanna find something?">
        <input class="btn btn-default" type="submit" class="btn btn-default" value="brace thineself">
      </form>
    </li>
  </ul>
</nav>
