{{define "index"}}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Ancient Citadel - browse and search the best {{.HumanCount}} gifs on the internet</title>
    {{ template "head" }}
  </head>
  <body>
    {{ template "google-analytics" }}
    {{ template "navigation" . }}
    <div class="container">
      {{ if .ShowAgeVerification }}
        {{ template "age-verification" }}
      {{ else }}
        {{ if .URLs }}
          <div class="items">
            {{range .URLs}}
              {{ template "gif-item" . }}
            {{end}}
          </div>
          <div class="next-page">
            <a href="{{.NextPageLink}}">BRING FORTH MORE GIFS</a>
          </div>
        {{ else }}
          <p>
            Looks like you've reached the end of the line! Well done! Maybe it's time to get out
            there and live your life?
          </p>
        {{ end }}
      {{ end }}
    </div>
  </body>
</html>
{{end}}
