{{define "show"}}
<!DOCTYPE html>
<html>
  <head>
    <title>{{.URL.Title}}</title>
    {{ template "head" }}
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@ancient_citadel">
    <meta name="twitter:creator" content="@ancient_citadel">
    <meta name="twitter:title" content="{{.URL.Title}}">
    <meta name="twitter:description" content=" Source">
    <meta name="twitter:image" content="{{.URL.URL}}">
  </head>
  <body>
    {{ template "google-analytics" }}
    {{ template "navigation" . }}
    <div class="container">
      {{ if .ShowAgeVerification }}
        {{ template "age-verification" }}
      {{ else }}
        <script>
          $(function() {
            $(".item .gif")[0].play();
          });
        </script>
        <div class="items">
          {{ template "gif-item" .URL }}
        </div>
      {{ end }}
    </div>
  </body>
</html>
{{end}}
