body {
   background: #eee !important;
}


.item .item-top {
  padding-left: 3px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  background-color: white;
  margin-bottom: 0;
}

.item .item-top p {
  margin-bottom: 0;
}

.gif {
  cursor: pointer;
}

.next-page {
  text-align: center;
  margin:0;
  padding:0;
  padding-top: 2em;
  padding-bottom: 6em;
}

.next-page a {
  font-size: 2em;
  color: inherit;
}
