body {
   background: #E8E8E8 !important;
   color: #333333 !important;
}

h1 small{
  color: #990100 !important;
}

a {
  color: #B90504 !important;
}

a:visited {
  color: #990100 !important;
}

.item .item-top {
  padding-left: 3px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  background-color: #F6F6F6;
  margin-bottom: 0;
}

.item .item-top p {
  margin-bottom: 0;
}

.gif {
  width: 100%;
  cursor: pointer;
}

.next-page {
  text-align: center;
  margin:0;
  padding:0;
  padding-top: 2em;
  padding-bottom: 6em;
}

.next-page a {
  font-size: 2em;
  color: inherit;
}
